body {
  padding: 0;
  margin: 0;
}
#swipe_list {
  margin: 0;
  overflow: hidden;
}
.list {
  margin: 0;
  border-bottom: 1px solid #ccc;
}
.list div {
  padding: 10px;
}
.list .left-act {
  padding-right: 10px;
  background-color: dimgray;
}
.list .left-active {
  background-color: burlywood;
}

.list .right-act {
  padding-left: 10px;
  background-color: dimgray;
}
.list .right-active {
  background-color: aquamarine;
}